<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.jpa_mybatis.repository.MemberMyBatisRepository">
    <insert id="insert" parameterType="book">
        insert
        into book (loginname, username, password,age)
        values (#{loginname}, #{username}, #{password}, #{age})
    </insert>

    <select id="selectAll" resultType="member">
        select id,
        loginname,
        username,
        password,
        age
        from member
    </select>

    <select id="selectByName" parameterType="string" resultType="member">
        select id,
        loginname,
        username,
        password,
        age
        from member
        where username = #{value}
    </select>

    <select id="selectByBookId" parameterType="int" resultType="book">
        select id,
        loginname,
        username,
        password,
        age
        from member
        where id = #{value}
    </select>

    <update id="update" parameterType="memberId">
        update member
        set username = #{username}
        where id = #{memberId}
    </update>

    <delete id="memberId" parameterType="int">
        delete
        from member
        where id = #{value}
    </delete>
</mapper>